   //about-page CSS styles

 #about {

    .text-container1 {
        h2 {
            @media desk {
                .margTB(12rem; 5rem);
            }
        }
    }
    
    .text-container2 {
        h2 {
            @media desk {
                .margTB(5rem; 5rem);
            }
        }
    }

        .list {

            @media @desk {
                margin-top: 2rem;
            }

            ul {
                @media @desk {
                    margin-top: 2rem;
                }

                li {
                    @media @desk {
                        margin-top: 2rem;
                    }
                }
            }
        }
    }


#about .main-content .list {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 10rem;
    width: 100%;

    .list-container {
    
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
            
            img {
                height: 20rem;
                width: 20rem;
                margin: 0;
            }
            
            icon-container {
                display: flex;
                
            }
        }
    }
