header {
    height: 6rem;
    background-color: @header-bgc;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
    @media @desk {
        height: 20rem;
    }

    .pet-img {
        height: 80%;
        width: 20%;
        display: flex;
        justify-content: flex-end;
        
        img {
            height: 4rem;

                @media @desk {
                    height: 15rem;        
                }
        }
    }
}

.main-content {
    margin-top: 6rem;
    width: 97%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
        font-family: 'Indie Flower', cursive;
        align-self: center;
        font-size: 3.75rem;
        .margTB(2rem, 4rem);
        
        @media @desk {
            .margTB(6rem, 6rem);
            font-size: 6rem;
            
        }    
    }
    
    .text-container1 {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        h1{
            font-family: 'Indie Flower', cursive;
            align-self: center;
            font-size: 8rem;
            color: blueviolet;
            .margTB(2rem, 2rem);

            @media @desk {
                .margTB(6rem, 6rem);
                font-size: 12rem;
            }
        }
        
        h2{
            font-size: 2.8rem;
            width: 65%;
            margin-left: 3rem;
            .margTB(4rem; 5rem);

            @media @desk {
                width: 85%;
                font-size: 6rem;
                .margTB(12rem; 15rem);
            }
        }
    }

    .text-container2 {
        .margLR(1rem, 1rem);
        width: 97%;
        font-size: 1.8rem;
        align-self: center;

        @media @desk {
            font-size: 3.6rem;
        }
        
    }
    
    img {
        height: 40vh;
        width: 97%;
        align-self: center;
        margin-bottom: 4rem;

        @media @desk {
            height: 90vh;
            width: 90%;
            align-self: center;
            .margTB(3rem; 12rem);
        }
    }

    .list {
        display: flex;
        justify-content: center;
        margin-top: 3rem;

        ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 50%;

            @media @desk {
                margin-top: 12rem;
            }

            li {
                list-style-type: circle;
                margin-top: 2rem;
                font-size: 1.6rem;
                color: darkblue;  
                
                @media @desk {
                    font-size: 3.2rem;
                    margin-top: 6rem;
                }
            }
        }
 }

 